body {
    margin: 0;
    padding: 0;
    
}

#display-container{
    background-color: skyblue;
}

.city-info{
    padding: 0 5px;
    font-size: 24px;
}

#uv {
    color: white;
    width: 25%;
}

.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color:orange;
}

.very-high {
    background-color: red;
}

.extreme {
    background-color: purple;
}

.hidden {
    display: none;
}

.icon-size{
    
    width: 50px;
    margin: auto;
    
}

#five-day{
    padding: 0 25px;
}

.history-item {
    border: 1px solid black;
    padding: 2px 5px;
    margin: 1px;
}

#city {
    height: 37px;
    padding-bottom: 5px;
}

label {
    font-size: x-large;
    font-weight: 500;
}

.card {
    margin-bottom: 15px;
}